modules = ["bash", "python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["libxcrypt", "rapidfuzz-cpp", "taskflow", "xcodebuild", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5002
externalPort = 3000

[[ports]]
localPort = 34107
externalPort = 3003

[[ports]]
localPort = 34621
externalPort = 5000

[[ports]]
localPort = 35519
externalPort = 4200

[[ports]]
localPort = 42067
externalPort = 3001

[[ports]]
localPort = 45787
externalPort = 3002
